<!--{% load static %}-->

<!-- Footer -->
<!--  <footer id="main-footer" class="footer-main w-100 bg-dark py-4 text-white text-center">-->
<!--      <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--      <div class="row justify-content-center mt-0 pt-0 row-1 mb-0 px-sm-3 px-2">-->
<!--            <div class="col-12">-->
<!--                <div class="row my-4 row-1 no-gutters">-->
<!--                    <div class="col-sm-3 col-auto text-center">&#9400; Get Toasty With Us!</div>-->
<!--                    <div class="col-md-3 col-auto "></div>-->
<!--                    <div class="col-md-3 col-auto "></div>-->
<!--                    <div class="col my-auto text-md-left text-right ">-->
<!--                        <span><a href="#" class="fa fa-facebook"></a></span>-->
<!--                        <span><a href="#" class="fa fa-twitter"></a></span>-->
<!--                        <span><a href="#" class="fa fa-linkedin"></a></span>-->
<!--                        <span><a href="#" class="fa fa-instagram"></a></span>-->
<!--                        <span><a href="#" class="fa fa-snapchat-ghost"></a></span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--      </div>-->

<!--  </footer>-->

<!--{% load static %}-->
<!--  <footer id="main-footer" class="footer-main w-100 bg-dark py-4 text-white text-center position-relative">-->
<!--      <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--      <div class="row justify-content-center mt-0 pt-0 row-1 mb-0 px-sm-3 px-2">-->
<!--            <div class="col-12">-->
<!--                <div class="row my-4 row-1 no-gutters">-->
<!--      <span> <h2>Get Toasty With Us!</h2>-->
<!--    <a href="#" class="fa fa-facebook"></a>-->
<!--    <a href="#" class="fa fa-twitter"></a>-->
<!--    <a href="#" class="fa fa-linkedin"></a>-->
<!--    <a href="#" class="fa fa-instagram"></a>-->
<!--    <a href="#" class="fa fa-snapchat-ghost"></a>  </span>-->
<!--  </footer>-->