{% extends "base.html" %}

{% block content %}



<div class="container">
    <div class="row">
        {% for recipe in user.profile.my_recipes.all %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src={{user_recipe.thumbnail}} class="card-img-top" alt="...">
                <div class="card-body">
                  <h4 class="card-title">{{recipe.name}}</h4>
                  <h4 class="card-title">{{recipe.glass}}</h4>
                  <h4 class="card-title">{{recipe.instructions}}</h4>

                  <p><b>Ingredients:</b></p>
                  {% for ingredient in recipe.ingredients.all %}
                    <p>{{ingredient.name}}</p>
                  {% endfor %}

                     </div>
                  </div>
              </div>
        </div>
        {% endfor %}
    </div>
<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-dark" href="{% url 'user_recipe' %}" role="button">Create Recipe</a>
</div>
</div>



{% endblock content %}
